<ul>
  <!-- <li>
    <a [routerLink]="['/formfield']">Form field</a>
  </li>
  <li>
    <a [routerLink]="['/input']">Input</a>
  </li>
  <li>
    <a [routerLink]="['/card']">Card</a>
  </li>
  <li>
    <a [routerLink]="['/datepicker']">Datepicker</a>
  </li>
  <li>
    <a [routerLink]="['/gridList']">Grid List</a>
  </li>
  <li>
    <a [routerLink]="['/icon']">Icon</a>
  </li>
  <li>
    <a [routerLink]="['/dialog']">Dialog</a>
  </li> -->
  <li>
    <a [routerLink]="['/animation']">Animation</a>
  </li>
</ul>

<router-outlet></router-outlet>
